/* 鼠标经过头像旋转放大 */
.img-circle {
    border-radius: 50%;
    animation: light 4s ease-in-out infinite;
    transition: all 0.5s;
}
.img-circle:hover {
    transform: scale(1.15) rotate(720deg);
}

/* 羽毛_css */
.dropdown.wrapper {
    background:url('https://jsd.moezz.cn/gh/OuOumm/omo@main/data/img/yumao.webp') right bottom no-repeat;
}

/*首页文章选中缩放效果*/
.blog-post .panel:not(article),.panel-small:not(article),.panel-picture:not(article):hover {
    transform: scale(0.95);
    box-shadow: 0 8px 10px rgba(73, 90, 47, 0.47);
}
/*赞赏图标跳动*/
.btn-pay {
    animation: star 0.5s ease-in-out infinite alternate;
}
@keyframes star {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/*页面元素抖动*/
.Pshake{
    -webkit-animation: Pshake_Crazy 1s ease-in-out infinite;
    animation: Pshake_Crazy 1s ease-in-out infinite;
}
@keyframes Pshake_Crazy{
    10%{transform:translate(-0.5px,-0.5px) rotate(0.5deg);}
    20%{transform:translate(-0.5px,1.5px) rotate(0.5deg);}
    30%{transform:translate(1.5px,0.5px) rotate(0.5deg);}
    40%{transform:translate(1.5px,-0.5px) rotate(-0.5deg);}
    50%{transform:translate(2.5px,1.5px) rotate(1.5deg);}
    60%{transform:translate(-0.5px,-0.5px) rotate(-0.5deg);}
    70%{transform:translate(-0.5px,2.5px) rotate(1.5deg);}
    80%{transform:translate(2.5px,-1.5px) rotate(-0.5deg);}
    90%{transform:translate(1.5px,-0.5px) rotate(1.5deg);}
    0%,100%{transform:translate(0,0) rotate(0);}
}

/*首页标题文字描边*/
#post-panel .blog-post.post-list  a {
    text-shadow: #000 0 0 4px, #000 0 0 4px, #000 0 0 4px, #000 0 0 4px;
}

/*修改夜间模式下的图片亮度*/
.theme-dark img,.theme-dark figure a,.theme-dark .aplayer-pic {
    filter:brightness(70%);
    -webkit-filter: brightness(70%);
}

/*修改标题居中*/
header {
    text-align:center;
    -webkit-text-align:left;
}
#header {
    text-align:left;
    -webkit-text-align:left;
}

/*Logo位置调整*/
element.style {
}
.bg-danger .text-lt {
    color: rgb(255, 255, 255) !important;
}
.bg-danger a {
    margin-left: 10px;
}

/*调整文章标题下图标间距*/
.plus-font-size {
    padding-left: 0px;
}

/*logo扫光*/
.navbar-brand{position:relative;overflow:hidden;margin: 0px 0 0 0px;}.navbar-brand:before{content:""; position: absolute; left: -665px; top: -460px; width: 200px; height: 15px; background-color: rgba(255,255,255,.5); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-animation: searchLights 6s ease-in 0s infinite; -o-animation: searchLights 6s ease-in 0s infinite; animation: searchLights 6s ease-in 0s infinite;}@-moz-keyframes searchLights{50%{left: -100px; top: 0;} 65%{left: 120px; top: 100px;}}@keyframes searchLights{40%{left: -100px; top: 0;} 60%{left: 120px; top: 100px;} 80%{left: -100px; top: 0px;}}
